body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: white;
    background: linear-gradient(#212121, #6c6c6c);
}

.loginError {
    position: absolute;
    width: 300px;
    margin: 200px auto auto;
    color: red;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}

.hallo {
    position: absolute;
    width: fit-content;
    color: #009eff;
    right: 0;
    top: 0;
    margin-top: 0;
    transform: translate(-50%);
}

.btn {
    position: absolute;
    width: 100px;
    height: fit-content;
    margin: 100px auto auto;
    color: #009eff;
    left: 50%;
    right: 50%;
    transform: translate(-100%);
}

.btn-edit {
    height: 35px;
    line-height: 0px;
}

#students {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: green;
    color: black;
}

#students td, #students th {
    border: 1px solid #ff0000;
    padding: 15px;
    text-align: center;
}

#students tr:nth-child(even) {
    background-color: rgba(104, 211, 255, 0.66);
}

#students tr:hover {
    background-color: #e0f7fa;
}



.inlogformulier {
    width: 300px;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.achterinlog {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.achterinlog h1 {
    color: #333;
}

.ww-reset {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.inlogformulier input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.inlogformulier .loggin {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.inlogformulier .loggin:hover {
    background-color: #45a049;
}

.editForm {
    width: 300px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
}

.editForm label {
    display: block;
    margin-bottom: 5px;
}

.editForm input[type="text"],
.editForm input[type="email"],
.editForm input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.editForm input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.editForm input[type="submit"]:hover {
    background-color: #45a049;
}

