#students {
    border-collapse: collapse;
    width: 100%;
}
#students td, #students th {
    border: 1px solid #ddd;
    padding: 8px;
}
#students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: aqua;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: beige;
    color: white;
}

.inlogformulier {
    margin: 0 auto 0 40%;
    background-color: #82EC69;
    padding: 80px 5px;
}

.achterinlog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 942px;
    height: 621px;
    background-color: #FFDE09;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}